<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auto_call/style.css' %}"/>
</head>

<body>
<div class="navbar">
    {% load static %}
    <img src="{% static 'auto_call/logo-ar.png' %}">
    <div class="links">
        <a href="{% url 'home' 0%}" class="navbar-brand"><span>الرئيسية</span></a>
        <a href="{% url 'form' %}" class="navbar-item"><span>تسجيل المريض</span></a>
        <a href="{% url 'screen' %}" class="navbar-item"><span>الشاشه</span></a> 
    </div>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
</div>
<footer>    
  <p>&copy; 2023</p>
</footer>

</body>
</html>