{% extends "auto_call/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="lists_container">
        <div class="lists_bar">
            <div class="bar-item"><a href="{% url 'home' 0 %}"><span>الكل</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 1 %}"><span>مقطعية</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 2 %}"><span>رنين مغناطيسي</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 3 %}"><span>موجات صوتيه</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 4 %}"><span>موجات صوتيه</span></a></div>
            <div class="bar-item corner-right"><a href="{% url 'home' 5 %}"><span>وحدة القلب</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 6 %}"><span>رسم عصب</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 7 %}"><span>رسم مخ</span></a></div>
            <div class="bar-item"><a href="{% url 'home' 8 %}"><span>هشاشة عظام</span></a></div>
            <div class="bar-item corner-left"><a href="{% url 'home' 9 %}"><span>وحدة الثدي</span></a></div>
          </div>
        <div class="list_content">
            {% if message_list %}
                <table class="full_list">
                    <thead>
                    <tr>
                        <th>الغرفه</th>
                        <th>اسم المريض</th>
                        <th>حالة طوارئ</th>
                        <th>تاريخ الحجز</th>
                        <th>توقيت الحجز</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer">
                            <td></td>
                        </tr>
                    {% for message in message_list %}
                        <tr>
                            <td>
                                {{ message.room }}
                            </td>
                            <td>
                                {{ message.name }}
                            </td>
                            <td>
                                {{message.emergancy}}
                            </td>
                            <td>{{ message.log_date | date:'d / M / Y' }}</td>
                            <td>{{ message.log_date | time:'H:i:s' }}</td>
                        </tr>
                        <tr class="spacer">
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No Patients Waiting.</p>
            {% endif %}
        </div>

    </div>



{% endblock %}