<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>شاشه</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auto_call/style.css' %}"/>
</head>

<body>
  <div class="logo">
    {% load static %}

    <img src="{% static 'auto_call/logo-ar.png' %}">
  </div>

  <div class="container">

    <div class="list">
      <h2>مقطعية</h2>
      <iframe src="{%url 'roomlist' 1%}"></iframe>
    </div>

    <div class="list">
      <h2>رنين مغناطيسي</h2>
      <iframe src="{%url 'roomlist' 2%}"></iframe>
    </div>

    <div class="list">
      <h2>موجات صوتيه</h2>
      <iframe src="{%url 'roomlist' 3%}"></iframe>
    </div>

    <div class="list">
      <h2>موجات صوتيه</h2>
      <iframe src="{%url 'roomlist' 4%}"></iframe>
    </div>

    <div class="list">
      <h2>وحدة القلب</h2>
      <iframe src="{%url 'roomlist' 5%}"></iframe>
    </div>

    <div class="list">
      <h2>رسم عصب</h2>
      <iframe src="{%url 'roomlist' 6%}"></iframe>
    </div>

    <div class="list">
      <h2>رسم مخ</h2>
      <iframe src="{%url 'roomlist' 7%}"></iframe>
    </div>

    <div class="screen">Column</div>

    <div class="list">
      <h2>هشاشة عظام</h2>
      <iframe src="{%url 'roomlist' 8%}"></iframe>
    </div>

    <div class="list">
      <h2>وحدة الثدي</h2>
      <iframe src="{%url 'roomlist' 9%}"></iframe>
    </div>

  </div>
</body>
</html>